<launch>

    <!-- Robot -->
    <param name="scout/wheel" type="double" value="0.1575"/>
    <param name="scout/reduction" type="double" value="38.2965"/>
    <param name="scout/baseline" type="double" value="1.0329"/>

    <param name="scout/start/x" type="double" value="0.0"/>
    <param name="scout/start/y" type="double" value="0.0"/>
    <param name="scout/start/theta" type="double" value="0.0"/>

    <node pkg="project1" type="robot" name="scout" output="screen"/>

    <!-- Calibration -->
    <param name="calib/duration" type="double" value="60.0"/>
    <param name="calib/forget" type="double" value="0.05"/>

    <node pkg="project1" type="calibration" name="calibration" output="screen"/>

</launch>