<launch>
    <param name="/use_sim_time" value="true" />

    <include file="$(find project2)/launch/fix.launch" />

    <include file="$(find project2)/launch/filtering.launch" />
    <include file="$(find project2)/launch/localization.launch" />

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find project2)/rviz/localization.rviz" />
</launch>